<h1>Elements#index</h1>
<p>Find me in app/views/elements/index.html.erb</p>

<h1>Elements</h1>
<ul>
<% @elements.each do |e| %>
  <li><%= link_to e.name, e %></li>

<% end %>
</ul>


<%= link_to 'New Element', new_element_path %>



<div>
  <h3>Page Notes</h3>
  <p>Children can be added / removed from parent page.</p>
  <p>In the case of the children being the discovering scientists, removing the scientist from this element removes the association, but does not delete the record for the scientist themself.</p>
  <p>A child can only be added once to their pasrent page</p>
</div>
