<h1>Elemental</h1>
<p>Welcome to Elemental, the third and final project by John Coote for WDI 24</p>
<p>This website is designed to demonstrate</p>
<ul>
  <li>Rails CRUD system, using 4 models, including one many-to-many linking table.</li>
  <li>Passing data from rails to javascript</li>
  <li>Using external libraries (Three.JS and google charts) to display that data</li>
  <li>Clean and effective design using a mix of bootstrap and hand coded CSS, including CSS Grid.</li>

</ul>
