<div class="overlay">
  <h1>Countries</h1>

</div>

  <div class="overlay sixty">




      <div class="text-wrapper">

        <% @countries.each do |c| %>
          <div><%= link_to c.name, c %></div>

        <% end %>

      </div>





  </div>
