/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  /* background-color: pink; */
}

div {
  /* border: red solid 2px; */
}

#intro {
  background-color: rgba(148, 230, 245, 0.4);
  border-radius: 1em;
  margin-top: 2em;
  padding: 1em;
}

#p-table {
  background-color: white;
}

.sixty {
  width: 60%;
  margin-top: 5em;
}

.navbar {
  margin-bottom: 0;
}

.img-rounded {
  margin-bottom: 1em;
}

#particles-js {
  background-color: #FFFFFF;
  height: 100vh;
}

.overlay {
  /* background-color: white;; */
  opacity: 1;
  position: absolute;
  /* color: white; */
}

#scientist-index {
  top: 150px;
}


/* .has-grid {
  width: 60%;
} */

/* .overlay h1 {
  color: black;
  opacity: 1;
} */
.container {
  /* background-color: yellow; */
  padding: 0;
  width:960px;
}

.content {
  margin-bottom: 1em;
}

footer {
  position: fixed;
  bottom: 10px;
  width: 97%;
  margin: auto;
  background-color: rgba(240,240,240,0.75);
  box-shadow: 2px 2px;
  padding: 1em;
  text-align: center;
  border-top: solid white 1px;
  border-left: solid white 1px;
  border-radius: 5px;
}

header {
  width: 88%;
  margin: 2em auto;
  background-color: rgba(240,240,240,0.5);
  box-shadow: 2px 2px;
  padding: 1em;
  text-align: center;
  border-top: solid white 1px;
  border-left: solid white 1px;
  border-radius: 5px;
}

header li {
  text-decoration: none;
  display: inline-block;
  padding: 0 2em 0 2em;

}
