// Place all the styles related to the Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bar_chart_div {
  padding: 2em 5em 0 5em;
}

.text-wrapper {
  width: 100%;
  margin: 0;
  display: grid;
grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
grid-gap: 30px;
}
