<h1>Scientists</h1>

<div class="small-wrapper">

  <% @scientists.each do |s| %>
    <div class="image_div">
      <%= link_to image_tag(s.photo, :class => 'thumb', :secure => true ), s %> <br/>

    </div>


  <% end %>


</div>
