
<div class="overlay">
  <h1>Scientists</h1>
</div>

<div id="scientist-index" class="small-wrapper overlay">

  <% @scientists.each do |s| %>
    <div class="image_div">
      <% if s.photo.nil? %>
        <img class="thumb" src="http://res.cloudinary.com/dh6k0tlkb/image/upload/v1516666413/a6m6rvl33zc1czjar6gm.jpg" />
      <% end %>
      <%= image_tag(s.photo, :class => 'thumb', :secure => true ) unless s.photo.nil? %>
    <%= link_to s.name, s %>
    </div>


  <% end %>


</div>
