<h1>Scientists#index</h1>
<p>Find me in app/views/scientists/index.html.erb</p>

<h1>Scientists</h1>
<ul>
<% @scientists.each do |s| %>
  <li><%= link_to s.name, s %></li>

<% end %>
</ul>

<%= link_to 'New Scientist', new_scientist_path %>
